@font-face {
  font-family: "Gotham-Black";
  src: url("./fonts/Gotham/Gotham-Black.otf");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("./fonts/Gotham/Gotham-Book.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("./fonts/Gotham/Gotham-Book.otf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("./fonts/Gotham/Gotham-Light.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("./fonts/Gotham/Gotham-Medium.otf");
}

@font-face {
  font-family: "Gotham-Thin";
  src: url("./fonts/Gotham/Gotham-Thin.otf");
}

@font-face {
  font-family: "Gotham-Ultra";
  src: url("./fonts/Gotham/Gotham-Ultra.otf");
}

@font-face {
  font-family: "Gotham-XLight";
  src: url("./fonts/Gotham/Gotham-XLight.otf");
}

body {
  margin: 0;
  overflow: hidden;
}

h4 {
  margin: 0;
  padding: 0;
}
